# Exercises: Complex queries

For the exercises, you are tasked with writing five queries that will help you delve deeper into BooksDB. You can choose whether you want to use a correlated subquery, a nested subquery, the UNION operator, the INTERSECT operator, or the EXCEPT operator for each one. You may not use joins or add multiple statements to the WHERE clause.

1. Write a query that will return the number of users who rated a book above it's average rating.

In [23]:
SELECT COUNT(user_id) AS 'Num of Users'
FROM BooksDB.dbo.ratings AS r
WHERE rating > 
              (SELECT average_rating
               FROM BooksDB.dbo.books as b
               WHERE b.best_book_id = r.book_id
               );

--CHECKING ABOVE CODE WITH INNER JOIN BELOW

SELECT COUNT(r.user_id)
FROM BooksDB.dbo.books as b 
JOIN BooksDB.dbo.ratings as r ON b.best_book_id = r.book_id
WHERE b.average_rating < r.rating;


--Mel's Code:
SELECT COUNT(DISTINCT user_id) AS 'Optimistic Users'
FROM BooksDB.dbo.ratings AS r
WHERE rating > 
              (SELECT average_rating
               FROM BooksDB.dbo.books as b
               WHERE b.book_id = r.book_id
               );

Num of Users
40397

(No column name)
40397

Optimistic Users
19926

2. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star or over 1000 ratings of 5 stars.

In [27]:
SELECT TOP 10 best_book_id
FROM BooksDB.dbo.books
WHERE ratings_5 >= 1000
UNION ALL
SELECT TOP 10 best_book_id
FROM BooksDB.dbo.books
WHERE ratings_1 >= 1000
ORDER BY best_book_id;

--FOR SIMPLICITY, I AM ONLY SHOWING THE TOP 10, BUT THE FULL EXPRESSION RETURNED 12,232 ROWS

--Mel's Code
SELECT TOP 10 book_id
FROM BooksDB.dbo.books AS b
WHERE ratings_5 > 1000
UNION
SELECT TOP 10 book_id
FROM BooksDB.dbo.books
WHERE ratings_1 > 1000
ORDER BY book_id;

SELECT TOP 10 book_id
FROM BooksDB.dbo.books
WHERE ratings_1 > 1000 or ratings_5 > 1000
Order by book_id;

best_book_id
3
3
960
960
1885
1885
2657
2657
4671
4671
5107
5107
5907
5907
41865
41865
2767052
2767052
11870085
11870085

book_id
3
960
1885
2657
4671
5107
5907
41865
2767052
11870085

book_id
1
2
3
5
6
8
10
11
13
21

3. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star and over 1000 ratings of 5 stars.

In [28]:
SELECT TOP 10 best_book_id
FROM BooksDB.dbo.books
WHERE ratings_5 >= 1000
INTERSECT
SELECT TOP 10 best_book_id
FROM BooksDB.dbo.books
WHERE ratings_1 >= 1000;

--FOR SIMPLICITY, I AM ONLY SHOWING THE TOP 10, BUT THE FULL EXPRESSION RETURNED 2236 ROWS

--Mel's Code (CAN ALSO BE ACCOMPLISHED WITH AND STATEMENT)
SELECT TOP 10 best_book_id
FROM BooksDB.dbo.books
WHERE ratings_5 > 1000
INTERSECT
SELECT TOP 10 best_book_id
FROM BooksDB.dbo.books
WHERE ratings_1 > 1000
ORDER BY best_book_id ASC;

best_book_id
3
960
1885
2657
4671
5107
5907
41865
2767052
11870085

best_book_id
3
960
1885
2657
4671
5107
5907
41865
2767052
11870085

4. Write a query that returns the book ids of books that have a language code of "en-US" and not a langugae code of "en-GB".

In [29]:
SELECT TOP 10 best_book_id, language_code
FROM BooksDB.dbo.books
WHERE language_code = 'en-US'
EXCEPT 
SELECT best_book_id, language_code
FROM BooksDB.dbo.books
WHERE language_code = 'en-GB'; 

--FOR SIMPLICITY, I AM ONLY SHOWING THE TOP 10, BUT THE FULL EXPRESSION RETURNED 2070 ROWS

--Mel's Code (CAN USE the first part and get the same result too)
SELECT TOP 10 best_book_id
FROM BooksDB.dbo.books
WHERE language_code = 'en-US'
EXCEPT 
SELECT best_book_id
FROM BooksDB.dbo.books
WHERE language_code = 'en-GB';

best_book_id,language_code
1934,en-US
5907,en-US
37435,en-US
41865,en-US
113436,en-US
386162,en-US
428263,en-US
1162543,en-US
1656001,en-US
6442769,en-US

best_book_id
1934
5907
37435
41865
113436
386162
428263
1162543
1656001
6442769

5. Write a query that returns the names of the tags and the tag ids for tags that were used over 100,000 times for a book.

In [31]:
--COULDN'T GET THIS CODE TO WORK RIGHT
/*
SELECT TOP 10 tag_id, tag_name
FROM BooksDB.dbo.tags
UNION
SELECT TOP 10 tag_id, str(count) AS 'Count'
FROM BooksDB.dbo.book_tags
WHERE count > 100000
ORDER BY tag_id DESC;
--FOR SIMPLICITY, I AM ONLY SHOWING THE TOP 10, BUT THE FULL EXPRESSION RETURNED 34459 ROWS
*/


SELECT tag_id, tag_name
FROM BooksDB.dbo.tags
WHERE tag_id IN (
    SELECT tag_id
    FROM BooksDB.dbo.book_tags
    WHERE count > 100000
);



--USED THIS CODE TO DOUBLE CHECK THE CODE ABOVE; THERE IS ONLY TAG_ID 30574 IN TAG_ID THAT POPS UP
/*
SELECT t.tag_id, t.tag_name, bt.count 
FROM BooksDB.dbo.tags as t 
JOIN BooksDB.dbo.book_tags as bt ON t.tag_id = bt.tag_id 
WHERE bt.count > 100000
ORDER BY bt.count DESC;
*/

--Mel's Code:
SELECT tag_id, tag_name
FROM BooksDB.dbo.tags
WHERE tag_id IN (
    SELECT tag_id
    FROM BooksDB.dbo.book_tags
    WHERE count > 100000
);

tag_id,tag_name
30574,to-read

tag_id,tag_name
30574,to-read